<ion-header>
  <ion-toolbar>
    <ion-button (click)="regresar()" color="danger" slot="start">
      <ion-icon name="return-down-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Editar Contacto</ion-title>
    <ion-button routerLink="/tabs/tab1" color="danger" slot="end">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="seleccionado">
  <form novalidate [formGroup]="updateForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input
          type="text"
          placeholder="Ingresa el nombre"
          formControlName="nombre"
          required
        ></ion-input>
        <ion-icon name="person-outline" size="large" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input
          type="text"
          placeholder="Ingresa los apellidos"
          formControlName="apellidos"
          required
        ></ion-input>
        <ion-icon name="person-outline" size="large" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input
          type="tel"
          placeholder="Ingresa el número de celular"
          formControlName="telefono"
          required
        ></ion-input>
        <ion-icon name="call-outline" size="large" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Empresa</ion-label>
        <ion-input
          type="text"
          placeholder="Ingresa la empresa"
          formControlName="empresa"
          required
        ></ion-input>
        <ion-icon name="business-outline" size="large" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo electronico</ion-label>
        <ion-input
          type="email"
          placeholder="Ingresa el correo"
          formControlName="correo"
          required
        ></ion-input>
        <ion-icon name="mail-outline" size="large" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button
        expand="block"
        type="submit"
        color="primary"
        (click)="editar()"
      >
        <ion-icon
          name="cloud-upload-outline"
          size="large"
          slot="end"
        ></ion-icon>
        Editar
      </ion-button>
    </div>
  </form>
</ion-content>
